################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/url-compress-demo/src/url-compress-demo/node_modules/.bin
